<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="quotes-title">
      <% if params[:tag] %>
        <%= params[:tag] %>
      <% else %>
        所有你喜歡的
      <% end %>
    </div>
  </div>
  <div class="col-md-3 tags">
    <div class="all-tag">
      <h3>
        <%= link_to "所有 tag", root_path %>
        <span class="pull-right label label-default"><%= @quotes.count %></span>
      </h3>
    </div>
    <div class="each-tag">
      <% @tags.each do |tag| %>
        <h3>
          <%= link_to(tag, tag_url(:tag => tag)) %>
          <% if params[:tag] %>
            <span class="pull-right label label-info"><%= @quotes.tagged_with(tag).count %></span>
          <% else %>
            <span class="pull-right label label-default"><%= @quotes.tagged_with(tag).count %></span>
          <% end %>
        </h3>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <% @quotes.each do |quote| %>
  <div class="col-md-6 col-md-offset-3">
    <div class="quotation-mark">
      <%= image_tag('quote.png') %>
    </div>
    <div class="quote">
      <div class="quote-content">
        <%= quote.content %>
      </div>
      <div class="quote-link">
        <%= link_to quote.url do %>
          <i class="fa fa-external-link"></i> <%= quote.title %> (<%= quote.url %>)
        <% end %>
      </div>
    </div>
    <div class="quote-annotation">
      <%= quote.annotation %>
    </div>
  </div>
  <% end %>
</div>