<div class="row">
  <div class="col-lg-12">
    <div class="windy-demo">
      <ul id="wi-el" class="wi-container">
        <% @quotes.each do |quote| %>
          <li>
            <span>
              <img src="<%= "http://graph.facebook.com/#{quote.user.uid}/picture?width=128" %>" alt="<%= quote.user.name %>">
              <%= quote.user.name %>
            </span>
            <div class="content"><%= quote.content %></div>
            <div class="info">
              <span><%= link_to(quote.title, quote.url, :target => '_blank') %></span>
            </div>
            <div class="annotation"><%= quote.annotation %></div>
          </li>
        <% end %>
      </ul>
      <nav>
        <span id="nav-prev">prev</span>
        <span id="nav-next">next</span>
      </nav>
    </div>
  </div>
</div>
